<mat-toolbar fxShow fxHide.gt-md="true" class="toolbar">
  <mat-toolbar-row>
    <button type="button" fxShow="true" fxHide.gt-md aria-label="Toggle sidenav" mat-icon-button
    (click)="drawer.toggle()" color="white">
    <mdb-icon fas icon="bars"></mdb-icon>
  </button>
    <span class="example-fill-remaining-space"></span>
    <div class="logged-user ml-auto " fxShow fxHide.gt-md="true">
      <div class="row">
        <!-- <div class="col-md-2">
              <mdb-icon fas icon="bell" class="ml-1"></mdb-icon>
          </div> -->


      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container" fullscreen>
  <mat-sidenav #drawer mode="side" opened role="navigation" class="side-nav">
    <div class="col-md-12 h-100">
      <div class="row h-100">
        <div class="side-bar col-2 h-100">

        </div>
        <div class="col-10">
          <div class="row logo-image pt-4 mt-4 pb-2 mb-2">
            <div class="col-md-5 text-center mx-auto">
              <img class="img-fluid mx-auto" src="assets/logo.jpg">

            </div>
          </div>
          <mat-nav-list class="side-nav-list">
            <div class="row side-nav-links ">
              <a mat-list-item routerLink='add-patient' routerLinkActive="active">
                <div class="side-nav-icon-container col-md-4">
                  <mdb-icon class="side-nav-icon" size="lg" fas icon="heartbeat"></mdb-icon>
                </div>
                <div class="col-md-8 side-nav-heading">

                  <h5 class="ml-auto">Patient Info</h5>

                </div>
              </a>
            </div>
            <div class="row side-nav-links ">
              <a mat-list-item routerLink='add-patients' routerLinkActive="active">
                <div class="col-md-4">
                  <mdb-icon class="side-nav-icon" size="lg" fas icon="database"></mdb-icon>
                </div>
                <div class="col-md-8 side-nav-heading">

                  <h5 class="ml-auto">Expenses</h5>

                </div>
              </a>
            </div>
            <div class="row side-nav-links ">
              <a mat-list-item routerLink='add-patients' routerLinkActive="active">
                <div class="col-md-4">
                  <mdb-icon class="side-nav-icon" size="lg" fas icon="hospital"></mdb-icon>
                </div>
                <div class="col-md-8 side-nav-heading">

                  <h5 class="ml-auto">Surgery</h5>

                </div>
              </a>
            </div>
            <div class="row side-nav-links ">
              <a mat-list-item routerLink='add-patients' routerLinkActive="active">
                <div class="col-md-4">
                  <mdb-icon class="side-nav-icon" size="lg" fas icon="user-plus"></mdb-icon>
                </div>
                <div class="col-md-8 side-nav-heading">

                  <h5 class="ml-auto">Staff Registration</h5>

                </div>
              </a>
            </div>
            <div class="row side-nav-links ">
              <a mat-list-item routerLink='add-patients' routerLinkActive="active">
                <div class="col-md-4">
                  <mdb-icon class="side-nav-icon" size="lg" fas icon="sign-out-alt"></mdb-icon>
                </div>
                <div class="col-md-8 side-nav-heading">

                  <h5 class="ml-auto">Sign Out</h5>

                </div>
              </a>
            </div>

          </mat-nav-list>
        </div>
      </div>
    </div>


  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="container-fluid content">
      <router-outlet></router-outlet>
      <div class="col-md-1">
        <img src="assets/icon.png" class="superlab-logo img-fluid">

      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
